[2021-09-07 09:22] aslakhellesoy opened #1 "Visual Studio Code Web Extension"
GitHub recently integrated [Visual Studio Code in the browser](https://docs.github.com/en/codespaces/developing-in-codespaces/web-based-editor). When you press `.` while viewing a file on GitHub, it opens VSCode.

Users can install additional [web extensions](https://code.visualstudio.com/api/extension-guides/web-extensions), and it would be great to leverage the [recent language server / vscode](

[2022-02-03 14:51] aslakhellesoy opened #25 "Fix and re-release the extension"
The extension in the marketplace is broken. The language server fails to load the WASM code. We need to:

* Bundle the server code as a separate js file
* Extract the wasm binaries as part of the build step and put them alongside the js

Ideally we'd fix https://github.com/cucumber/language-server/issues/28 before attacking the steps above

[2022-02-06 10:10] aslakhellesoy opened #28 "Add Cucumber icon for `.feature` files"
I think this is done by contributing a [File Icon Theme](https://code.visualstudio.com/api/extension-guides/file-icon-theme)

[2022-02-06 10:14] aslakhellesoy commented on #28
Alternatively, or perhaps *additionally*, we could encourage the use of [vscode-icons](https://github.com/vscode-icons/vscode-icons). We should send a PR with an updated icon for [cucumber](https://github.com/vscode-icons/vscode-icons/wiki/ListOfFiles#cucumber)

[2022-04-25 21:56] aslakhellesoy commented on #1
One way to achieve this is to move all the nodejs code (fs) to a separate `@cucumber/language-server/node` module. When/if [the LSP file system spec](https://github.com/NTaylorMullen/LSPVirtualDocuments/blob/master/Documents/FileSystemSpec.md) gets implemented, we can refactor the code to use that API, and take an implementation as an initialization argument.

[2022-04-25 22:19] aslakhellesoy commented on #1
Also relevant: [virtual workspaces](https://github.com/microsoft/vscode/wiki/Virtual-Workspaces) in VSCode.

[2022-05-05 18:00] aslakhellesoy opened #69 "Run focused scenario"
### 🤔 What's the problem you're trying to solve?

I don't want to leave my editor to run a scenario

### ✨ What's your proposed solution?

A keyboard shortcut for running the scenario on the current line.

This would run Cucumber with the `message` formatter, send the messages to a temporary file, parse the contents of that file (using [this class](https://github.com/cucumber/message-streams/blob/

[2022-05-11 06:20] aurelien-reeves opened #73 "Can't install extension because not compatible with current version of VS Code"
### 👓 What did you see?

While trying to install the extension on VS Code, an error message is shown: "Can't install 'cucumberopen.cucumber-official' extension because it is not compatible with the current version of Visual Studio Code (version 1.66.2)."

### 📦 Which tool/library version are you using?

Trying to install the extension from the marketplace
VSCode 1.66.2

### Addition

After restart

[2022-05-11 06:53] aurelien-reeves commented on #73
I've downloaded the extension from the marketplace, and it appears that the package.json within the .vsix file actually specifies a vscode engine version >= 1.67

I cannot find that spec in the repo

Also, 1.67 is pretty recent. We may consider requiring at least 1.66, or even lower, to make sure user which do not have updated vscode recently can still install the extension

[2022-05-11 08:03] aslakhellesoy commented on #73
I’ll make a new release today that doesn’t require the latest vscode.

Just fiddling a bit with the automated release process first…

[2022-05-11 08:56] aslakhellesoy commented on #73
This is fixed in 1.0.3

[2022-05-11 08:56] #73 closed

[2022-05-11 12:49] #25 closed

[2022-05-11 14:27] NickSchudloProdigy opened #74 "Extension Unable to Recognize Step Definitions Due to Parsing Error"
### 👓 What did you see?
- Opening one of my .feature files shows each of my steps are unrecognized with the error `Undefined step: ...`, and auto complete doesn't recognize any of the step definitions in my step files.
![image](https://user-images.githubusercontent.com/74211860/167873284-5672899c-e33e-4697-8042-3f50f971954b.png)

- Looking at the output for extension shows these logs:
[code]

###

[2022-05-13 16:28] vadim-96 opened #75 "Is Python supported?"
### 🤔 What's the problem you're trying to solve?

There are many languages that you support, but not the Python :(

[2022-05-16 01:57] rjking1 opened #76 "Do not remove commented lines"
### 👓 What did you see?

Formatting .feature file removes all commented lines

### ✅ What did you expect to see?

commented lines are indented correctly but left intact

### 📦 Which tool/library version are you using?

latest at 16 May 2022

### 🔬 How could we reproduce it?

Comment a Given/etc line. It will be prefixed with a #
Choose to format the feature file
The commented out line will be remo

[2022-05-16 16:28] aslakhellesoy commented on #76
Thanks for reporting this @rjking1.

This will be fixed when https://github.com/cucumber/common/pull/1738 is fixed.

[2022-05-16 17:21] aslakhellesoy commented on #75
Python is currently not supported. Please follow [this guide](https://github.com/cucumber/language-service/blob/main/CONTRIBUTING.md#add-support-for-a-new-programming-language) if you want to contribute Python support.

[2022-05-16 17:47] #75 closed

[2022-05-23 08:47] yipingw opened #77 "Plugin not working on Windows"
### 👓 What did you see?

Plugin cannot recognize feature file and autocomplete not working, keyword highlight not working as well.

### ✅ What did you expect to see?

Autocomplete should be working correctly and keyword like Feature, Given, When etc should be highlighted.

### 📦 Which tool/library version are you using?

Version: 1.67.2 (user setup)
Commit: c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5

[2022-05-23 08:55] aurelien-reeves commented on #77
Hi @yipingw

Thanks for your report.

Could you please take a look in the [output] tab of vscode: do you have a task related to the cucumber add-on? If so, what is reported there?

[2022-05-23 09:15] yipingw commented on #77
Hi,
This is the output:

[2022-05-24 08:36] aslakhellesoy commented on #1
And also relevant: https://github.com/microsoft/language-server-protocol/issues/1264

[2022-05-25 11:26] aslakhellesoy commented on #77
Judging from the log output it looks like everything is fine. @yipingw do you have any other Cucumber or Gherkin extensions installed? Have you tried deactivating or uninstalling them?

[2022-05-25 12:15] yipingw commented on #77
I've installed Cucumber (Gherkin) Full Support. But uninstall it and then install cucumber official plugin with no luck.

[2022-05-25 14:27] aslakhellesoy commented on #77
Also, what programming language are you using for step definitions?

[2022-05-25 14:28] yipingw commented on #77
@aslakhellesoy No, I used default setting, there's not any manually cucumber settings in settings.json. Java project.

[2022-05-25 14:34] aslakhellesoy commented on #77
The globa in the last output you shared look different from those in the default settings.

Can you please paste it again, ensuring it’s exactly as printed? Add a line with triple backticks above and below the logs to ensure it is properly formatted. See https://github.github.com/gfm/#fenced-code-blocks

[2022-05-25 14:35] aslakhellesoy commented on #77
One more question - are you using annotation style step definitions or lamba style ones?

[2022-05-26 00:56] yipingw commented on #77
Annotation style.

[2022-05-26 00:57] yipingw commented on #77
`{
    "editor.fontFamily": "'Fira Code', 微软雅黑, Consolas, 'Courier New', monospace",
    "editor.fontLigatures": true,
    "files.autoSave": "onFocusChange",
    "terminal.integrated.fontFamily": "'FiraCode Nerd Font Retina', 微软雅黑",
    "editor.fontSize": 14,
    "terminal.external.osxExec": "iTerm.app",
    "terminal.integrated.fontSize": 14,
    "editor.suggestSelection": "first",
    "vsintelli

[2022-05-26 07:51] aslakhellesoy commented on #77
@yipingw we need the logs from the Cucumber Language Server, not your `settings.xml`. You pasted it above, but it needs to be in [fenced code blocks](https://github.github.com/gfm/#fenced-code-blocks) so we can read it.

[2022-05-26 09:53] yipingw commented on #77
Hi @aslakhellesoy ,
This is the screenshot from vscode Cucumber Language Server output log:
<img width="964" alt="image" src="https://user-images.githubusercontent.com/2724357/170464450-da81fb9d-59db-4d48-a6c9-e700dab9ccf4.png">

`
[Info  - 08:59:47] Registering request handler for workspace/didChangeConfiguration failed.
[Info  - 08:59:47] Client does not support client/registerCapability. This i

[2022-05-26 13:39] aslakhellesoy commented on #77
Thank you @yipingw. Please try again with the VSCode extension version `1.2.3`. It has a few bug fixes and also improved logging in case something goes wrong.

[2022-05-26 14:53] aslakhellesoy commented on #77
It would also be useful if you could paste the 3 step definition regexps you have in your `.php` files. I think there might be a bug with how we parse regexps, and knowing yours would help us reproduce the problem.

[2022-05-26 15:10] yipingw commented on #77
Hi,
This is a Java project, please see the code snippet below:
[code]

[2022-05-26 15:17] aslakhellesoy commented on #77
Thanks. Did you try `1.2.4` yet?

[2022-05-26 15:25] yipingw commented on #77
Still not working, I tried to disabled all of plugins in current workspace but enable cucumber only, keyword highlight works well but autocomplete feature still not working. I don't know which plugin cause this issue.

<img width="674" alt="image" src="https://user-images.githubusercontent.com/2724357/170520084-b089dc09-eb83-40cd-8dc1-7e1be99864d4.png">

[2022-06-01 20:39] Kevin-Irias-vectorsolutions opened #78 "Issues with undefined steps on Windows"
### 👓 What did you see?

If i have an undefined step using When or Given,  and then select the "Define in filepath..." option, when i click that contextual menu option, nothing happens. Also when trying to use the autocomplete, it is not displaying suggestions accordingly. Go to definition doesn;t work as well.
### ✅ What did you expect to see?
It should add for example a When or Given block to th

[2022-06-02 21:33] aslakhellesoy commented on #78
Hi @Kevin-Irias-vectorsolutions - are you able to share the VSCode output logs for "Cucumber Language Server"?

[2022-06-02 23:38] Kevin-Irias-vectorsolutions commented on #78
@aslakhellesoy this is the content i see in the output after performing the Go to definition in a Given  line inside a .feature file, also at that point it doesn't highlight the whole line for the step name at all. Also from the server logs i notice that the quantity of features and steps seem to be correct.

`[Info  - 5:32:33 PM] Initializing connection from Visual Studio Code 1.67.2
[Info  - 5:3

[2022-06-07 20:43] mathpunk opened #79 "Apostrophes in steps can result in erroneous step-undefined errors"
### 👓 What did you see?

"The editor says this step is undefined, but I use it all the time. Huh..."

![image](https://user-images.githubusercontent.com/241202/172478125-09371e18-5d14-445c-812a-b166ee0b7eca.png)

And then I had a hunch and removed the apostrophes.

![image](https://user-images.githubusercontent.com/241202/172478502-bce5a452-fabd-4ee5-845e-f9a0da57f6ab.png)

### ✅ What did you expe

[2022-06-15 20:45] 10xtechie commented on #28
Hello @aslakhellesoy,
Where can I find the latest official _**`Cucumber`**_ logo in **_svg_** format? Once I have it, I can create a PR on [File Icon Theme](https://code.visualstudio.com/api/extension-guides/file-icon-theme) and [vscode-icons](https://github.com/vscode-icons/vscode-icons).
However, there are other vscode icon extensions such as [vscode-material-icon-theme](https://github.com/PKief

[2022-06-16 12:01] gasparnagy commented on #69
I have just payed with the https://marketplace.visualstudio.com/items?itemName=robocorp.robotframework-lsp extension for Robot Framework. They integrate with the tests tab of vscode... pretty nice.

![image](https://user-images.githubusercontent.com/144701/174065410-35d571a3-ce75-47e3-a66f-5846d21beefd.png)

[2022-06-21 14:47] aslakhellesoy commented on #78
Thanks - I'll be able to look into this when I find time to set up a Windows VM on my Mac. I could use some help from people who are already using Windows...

[2022-06-29 12:00] remss opened #82 "Go to definition to TypeScript source is not working on Windows"
### 👓 What did you see?

Go to definition to TypeScript source is not working because the file path is not correct.
It tries to open a path like `\\c:\myproject\test\features\step_definitions\app.ts\` and fails. VSCode display an error "The editor could not be opened due to an unexpected error: File is a directory"

### ✅ What did you expect to see?

The source file should be opened

### 📦 Which t

[2022-06-29 12:02] aslakhellesoy commented on #82
Thanks - this might be related to #78

[2022-07-07 02:14] phuongwd commented on #28
The Cucumber icon for .feature files will not work if I installed the Cucumber [vscode extension](https://github.com/cucumber/vscode).
Please see the video

https://user-images.githubusercontent.com/2460806/177675314-435a4703-d53b-4a91-9064-8b655b409930.mov

[2022-07-08 08:17] rbelando commented on #78
@aslakhellesoy Do you know when this issue is going to be fixed?

[2022-07-08 10:14] aslakhellesoy commented on #78
@rbelando I don't know. All I can say I'm probably not going to fix it until August, but anyone else is free to submit a fix.

[2022-07-08 18:55] BrianHawley opened #84 "No steps found, so all steps seem to be undefined, on macOS"
### 👓 What did you see?

In feature files in my project, all steps get flagged as undefined steps.

### ✅ What did you expect to see?

Expected the steps to be defined, and be able to go to the definitions of those steps.

### 📦 Which tool/library version are you using?

Ruby platform, cucumber 7.1.0, cucumber-rails 2.5.1. My steps are defined in "features/step_definitions/*.rb", but the default c

[2022-07-08 19:06] BrianHawley commented on #84
I tried this with no settings overrides, and with these settings:
[code]
Same behavior either way.

[2022-07-10 16:02] rbelando commented on #78
@aslakhellesoy No issues. I've created a PR that fixes the problem.

https://github.com/cucumber/language-service/pull/73

[2022-07-14 14:07] #78 closed

[2022-07-14 14:48] aslakhellesoy commented on #84
Can you please share the output from the logs? See [CONTRIBUTING.md](https://github.com/cucumber/vscode/blob/main/CONTRIBUTING.md#console-output) for details.

[2022-07-14 14:58] aslakhellesoy commented on #82
Fixed in https://github.com/cucumber/language-server/pull/57 and extension release 1.2.8

[2022-07-14 14:58] #82 closed

[2022-07-18 12:50] niccolomineo opened #85 "No syntax highlighting on MacOs"
### 👓 What did you see?

Plain text `.feature` file

### ✅ What did you expect to see?

Highlighted syntax in `.feature` file

### 📦 Which tool/library version are you using?

Cucumber 1.2.8

### 🔬 How could we reproduce it?

Steps to reproduce the behavior:
1. Install Cucumber 1.2.8 on VSCode 1.69.2 for MacOs Monterey
2. Reload VScode
3. Open a project either locally or via the popular `Remote -

[2022-07-19 15:12] BrianHawley commented on #84
Darnit, it was what I was worried it was:
[code]

After I started seeing this, I was looking into it and found https://github.com/cucumber/language-service/blob/main/test/language/testdata/ruby/StepDefinitions.rb

The simplicity of the regex example was worrying to me, because it suggested that maybe it couldn't parse more complicated regex, like the kind that covers semantics that the string synt

[2022-07-20 11:19] vitaminj commented on #84
I have a similar problem in my repo - it seems to not like any regexp ending with /i for case-insensitive

[2022-07-20 23:37] BrianHawley commented on #84
@aslakhellesoy based on @vitaminj's suggestion, I converted all step definitions with `/i` on the end of the regex to case sensitive regexes without the modifier, then restarted code to get it to reindex. I then did the same for one with `$?/` which may have been semantically silly but was syntactically OK, so it should have worked.

Enough rounds of these fixes, and the reindex finished, and step

[2022-07-21 00:30] BrianHawley commented on #84
Weird: If I happen to open a feature file while it's in the reindexing process, but before that "Undefined parameter type 'step'." error happens, it manages to syntax highlight the file.

[2022-07-21 01:50] BrianHawley commented on #84
Sorry, I realize that the `Undefined parameter type 'step'.` error is a different issue. If you like, I can make another report for that.

[2022-07-21 02:07] BrianHawley commented on #85
Can you please share the output from the logs? See [CONTRIBUTING.md](https://github.com/cucumber/vscode/blob/main/CONTRIBUTING.md#console-output) for details.

I seem to be having a similar issue. In the output I see this error, right before syntax highlighting fails:
[code]

[2022-07-21 08:20] niccolomineo commented on #85
I am not seeing the Cucumber Language Server in the dropdown, unfortunately:

![Schermata 2022-07-21 alle 10 19 08](https://user-images.githubusercontent.com/5409469/180165819-e72ae0a1-d161-44ec-8bc8-8b18dfa1c9c2.png)

I also noticed another issue that may or may not be related. The sidebar's metadata and content are not displayed:

![Schermata 2022-07-21 alle 10 16 49](https://user-images.githubu

[2022-07-24 08:55] sevapopov2 opened #86 "Add pytest-bdd plugin's support"
### 🤔 What's the problem you're trying to solve?
I am trying to use automatic steps definition with Cucumber's extension with pytest as a framework for tests and pytestt-bdd plugin for BDD testing. When trying to invoke code actions in the feature file now, there is the message that no code actions are available to use. Also, auto completion isn't supported when pytest-bdd is used and there are re

[2022-07-28 21:06] niccolomineo commented on #85
@BrianHawley I found out that the lack of syntax highlighting is due to the custom theme I am using. Anyhow, the sidebar issue outlined above still stands.

[2022-07-28 21:12] niccolomineo opened #87 "Weird sidebar icon with no content appearing after installing the extension"
### 👓 What did you see?

A messed up sidebar icon with a messed up name and no content

### ✅ What did you expect to see?

Some kind of sidebar or no sidebar at all... I don't know if the sidebar is intended at all ('cause it doesn't show up anywhere in the README)

### 📦 Which tool/library version are you using?

Cucumber 1.2.8

### 🔬 How could we reproduce it?

Steps to reproduce the behavior:
1

[2022-07-28 21:30] niccolomineo commented on #85
@BrianHawley I am reopening this, since, when using my custom theme, trying to inspect editor tokens and scopes results in the error in the screenshot below no matter the token I try to inspect. It seems to only work with the the pre-installed themes.

![Schermata 2022-07-28 alle 23 27 22](https://user-images.githubusercontent.com/5409469/181641018-ac2a290f-92c8-4cfc-b876-5d808efd539e.png)

[2022-07-29 04:21] #85 closed

[2022-07-30 13:30] MeirionHughes opened #88 "Support Multi-Root Workspaces"
### 👓 What did you see?

Not working in multi-root workspaces (only root folder works).

### 📦 Which tool/library version are you using?

node: 14.20.0
vscode: 1.69.2
@cucumber/cucumber : 8.5.1
extension version: 1.2.8

### 🔬 How could we reproduce it?

New Folder. Add:

add package.json
[code]

add foo.code-workspace

[code]
add ./lib/spec/features/test.feature
[code]
add ./lib/spec/steps/test.st

[2022-07-30 13:43] MeirionHughes commented on #88
nvm... this works:

[code]
and it seems smart enough to link them depending on which workspace folder they're in (i.e. if you copy the lib folder a few times.

I suggest a quick change to the extension readme on how to deal with multi-root workspace

[2022-07-31 09:00] aslakhellesoy commented on #84
Hi @BrianHawley - thanks for all the details. Please create separate issues for each distinct problem you encounter.

[2022-08-04 21:24] kiran-epic opened #89 "No Parameter highlighting in VSCode Light/Dark Mode"
### 👓 What did you see?
When using VSCode in light /dark theme mode, the step parameters are not highlighted at all.

### ✅ What did you expect to see?
The parameter should be highlighted making it easier to identify

### 📦 Which tool/library version are you using?
Extension Version : 1.2.8
Extension Settings :

[code]

### 🔬 How could we reproduce it?

Steps to reproduce the behavior:
1. Install

[2022-08-04 21:40] kiran-epic opened #90 "Highlight undefined steps in Scenario Outlines"
When using scenario outline for data-driving with the help of examples, The following issues occur :

- Only the parameters which are present in the Examples table are highlighted. For example in the below image, the "EducatorLogin" & "Dashboard" parameters are not highlighted as it's mentioned directly in the step as they don't change so no need to put it in the Examples table
![image](https://us

[2022-08-08 15:12] MeirionHughes opened #91 "Feature Background topic not styled correctly."
### 👓 What did you see?

"Background" topics are not styled correctly - version 1.2.8

![image](https://user-images.githubusercontent.com/3584509/183451345-69333de9-ded6-4074-a7ad-a419c6edf86b.png)

### 🔬 How could we reproduce it?

Add a "Background:" section to a Feature.

### Expected:

Background topic text is styled same as "Feature" and Scenario"

[2022-08-10 08:45] longb1997 opened #92 "No support glue js file?"
Hi, it works like a charm if I use ts file, but js just have not found

[Info  - 3:44:10 PM] * Found 0 glue file(s) in ["features/**/*.php","features/**/*.rb","e2e/step_definitions/*.ts","e2e/step_definitions/*.js","features/**/*.py","src/test/**/*.java","*specs*/**/.cs"]

[2022-08-13 03:29] pkufranky opened #94 "Support vscode outline panel for feature files"
### 🤔 What's the problem you're trying to solve?

For large feature files, it's very convient to preview the structure with vscode outline panel

### ✨ What's your proposed solution?

Support vscode outline panel

### ⛏ Have you considered any alternatives or workarounds?

I haven't found any workarounds.

### 📚 Any additional context?

----

*This text was originally generated from a [template](h

[2022-08-13 06:03] aslakhellesoy commented on #92
This is a dupe of https://github.com/cucumber/language-service/issues/42

[2022-08-13 06:03] #92 closed

[2022-08-13 06:04] aslakhellesoy commented on #91
This was fixed in https://github.com/cucumber/language-service/pull/78 and will be included in the next release.

[2022-08-13 06:43] aslakhellesoy commented on #89
We use the [parameter](https://github.com/cucumber/language-service/blob/main/src/service/getGherkinSemanticTokens.ts#L12), semantic token type to highlight parameters. It is also referenced in the [docs](https://code.visualstudio.com/api/language-extensions/semantic-highlight-guide#standard-token-types-and-modifiers)

It appears that some VSCode [themes](https://github.com/microsoft/vscode/tree/m

[2022-08-13 06:44] aslakhellesoy commented on #94
That's a good idea. Is this something you'd be interested in contributing @pkufranky?

[2022-08-13 06:58] aslakhellesoy commented on #90
This is actually by design.

Highlighting of parameters is done by matching steps against step definitions. For steps in regular scenarios we can do this. For steps in scenario outlines it is tricky to do, because each outline step becomes multiple steps after the `<>` is substituted.

Consider this example:

[code]

This becomes two scenarios, each with the following step:

* `Given I have 4 cuke

[2022-08-13 07:01] aslakhellesoy commented on #87
The Cucumber extension doesn't have a sidebar, so I'm not sure this has anything to do with this plugin.

[2022-08-13 07:15] aslakhellesoy commented on #84
It looks like the error is thrown here: https://github.com/cucumber/language-service/blob/9cb5cac5090c20b6d9faddcfd8a1aef21990ac73/src/language/rubyLanguage.ts#L89

This error is not caught, but it would be if we move this line inside the `try/catch` block: https://github.com/cucumber/language-service/blob/d41eea6f2d6b66c1a4ef155bd1f8210e7eaa2459/src/language/ExpressionBuilder.ts#L70

Doing this w

[2022-08-13 07:17] aslakhellesoy commented on #84
In order to fix the semantic token error we'd need a sample Gherkin document to reproduce it. Please open a separate issue for this.

[2022-08-14 01:35] niccolomineo commented on #87
If I disable the Cucumber plugin, those sidebar button and pane go away altogether.

[2022-08-15 01:41] pkufranky commented on #94
Just a feature request. I am not ready to contribute.

[2022-08-16 10:18] pkufranky opened #96 "Invalid table should not be removed when formatting"
### 👓 What did you see?

Examples:
      | foo | bar |
      |   1 |

After formating, it becomes
Examples:

### ✅ What did you expect to see?

It should not remove anything when formatting.

### 📦 Which tool/library version are you using?

vscode cucumber extension, v1.2.8

### 🔬 How could we reproduce it?

In vscode, use cucumber as formatter for .feature file.
Enter the invalid table and save,

[2022-08-16 12:11] niccolomineo commented on #87
I tried to drag that view around and, as soon as I did so, the view's metadata and content automagically got populated (its name is "Source Control Repositories"). I have no idea why it kept showing up with those incorrect metadata at launch, but it's now fixed.

[2022-08-16 12:11] #87 closed

[2022-08-19 14:00] itsezc opened #97 "Language support for Rust"
### 🤔 What's the problem you're trying to solve?

Currently Rust is not supported so syntax highlighting is poor / non existent, although the usage for Cucumber in the Rust community is pretty large: https://github.com/cucumber-rs/cucumber

### ✨ What's your proposed solution?

Adding support for Rust in the Cucumber language server

### ⛏ Have you considered any alternatives or workarounds?

- Th

[2022-08-19 17:39] BrianHawley commented on #84
Keep in mind that these were _not_ step definitions that were defined with string interpolation. These were Gherkin source strings (with string interpolation) that were the parameter of the `steps` command inside of a different step definition. The Gherkin source was being incorrectly detected as being a step definition.

[2022-08-20 17:01] jan-molak opened #98 "Publish to Open VSX Registry"
Hi @aslakhellesoy and the team! I'm glad you've built an official Cucumber extension for VSCode, kudos 👏🏻

Do you think it would it be possible to publish this extension to the Open VSX Registry?

As I'm sure you know, Microsoft prohibits direct use of extensions downloaded from [Visual Studio Marketplace](https://marketplace.visualstudio.com/vscode) in non-Microsoft software, even though most ext

[2022-08-20 19:02] JohnSmall commented on #76
double, triple and quadruple thumbs up on this one. I can't live with a coding tool that removes comments. It could at least ask.

[2022-08-20 19:15] aslakhellesoy commented on #76
Hi @JohnSmall I agree it’s annoying. Do you want to help fix this?

[2022-08-21 09:56] niccolomineo commented on #96
I agree with the OP and I'd like to add it is a quite serious issue at the moment.

[2022-08-22 01:37] pkufranky opened #99 "Tables with CJK characters do not align"
### 👓 What did you see?

When having CJK characters in table, table is not aligned after formatting.

### ✅ What did you expect to see?

The table should be aligned, one cjk character should be calculated as two spaces instead of one.

### 📦 Which tool/library version are you using?

cucumber vscode extension, 1.2.8

### 🔬 How could we reproduce it?

### 📚 Any additional context?

expected:
![imag

[2022-08-23 14:02] aslakhellesoy commented on #97
Moved to https://github.com/cucumber/language-service/issues/82

[2022-08-23 14:02] #97 closed

[2022-08-23 14:04] #96 closed

[2022-08-23 14:07] aslakhellesoy commented on #90
@kiran-epic any feedback on my proposal?

[2022-08-23 14:10] aslakhellesoy commented on #98
My intention was always to publish to VSX as well. As explained in https://github.com/EclipseFdn/open-vsx.org/issues/1008#issuecomment-1127973367, VSX cannot rename the namespace.

We could of course start using a new namespace by changing this line:

https://github.com/cucumber/vscode/blob/35f856e7d2f6b6f6178d0e2d2107f14fd27100ae/package.json#L6

But that would have consequences for the extension

[2022-08-23 15:03] jan-molak commented on #98
@kineticsquid suggests that "the only way is to republish to a new namespace and then (optionally) delete the old extensions".

The last [Release to marketplace](https://github.com/cucumber/vscode/actions/runs/2671207827) job has failed with:

[code]

So perhaps what is needed is to run `create-namespace` to get CucumberOpen in place and then re-publish?

[Open VSX docs](https://github.com/eclipse

[2022-08-23 15:12] kineticsquid commented on #98
@jan-molak @aslakhellesoy Confirming you want me to remove the `Cucumber` namespace, which you'll replace with `CucumberOpen`.

[2022-08-23 16:12] kiran-epic commented on #90
@aslakhellesoy That sounds good to me!

[2022-08-23 16:13] kiran-epic commented on #90
@aslakhellesoy Would you also fix the bug where the autocomplete & missing step highlighter stops working when using Examples ?

[2022-08-24 13:22] aslakhellesoy commented on #90
I haven’t offered to fix anything, just discussing a potential solution.

This project relies on contributions from our community.

[2022-08-24 15:53] LewisCraik opened #100 "Step definitions/glue files not found on macOS"
### 👓 What did you see?

I have one feature file `duckduckgo.feature` and one step definition file `duckduckgo.js` both located in the `cypress/e2e` folder. My plugin settings are as below:

[code]

However the .feature file is recognised, but the .js file is not. This is the output:
[code]

### ✅ What did you expect to see?

I would have expected the .js file to be seen and the step definitions t

[2022-08-26 16:50] aslakhellesoy commented on #100
JavaScript is not supported. You can contribute support if you want. See https://github.com/cucumber/language-service/issues/42

[2022-08-26 16:50] #100 closed

[2022-08-27 17:42] #91 closed

[2022-08-27 17:51] aslakhellesoy commented on #28
Hi @10xtechie - sorry for the late reply! You can find a copy of the official Cucumber logo as SVG here: https://github.com/cucumber/html-formatter/blob/main/javascript/logo.svg

[2022-08-27 17:55] aslakhellesoy commented on #98
Hi @kineticsquid - yes, please remove `Cucumber` - I'll create a new `CucumberOpen` namespace.

[2022-08-28 08:34] #98 closed

[2022-08-28 08:35] aslakhellesoy commented on #98
It's released on [Open VSX](https://open-vsx.org/extension/CucumberOpen/cucumber-official) now! Pending verification of the `cukebot` publisher.

[2022-08-28 08:43] aslakhellesoy commented on #84
Hi everyone - could you please upgrade to `1.2.10` and confirm whether this issue still persists? This version contains changes in https://github.com/cucumber/language-service/pull/86 which I hope will fix this issue.

[2022-08-29 16:39] kblestarge opened #103 "Support for tsx step definitions"
### 🤔 What's the problem you're trying to solve?

I'm trying to use this extension with a React app, but no matter how I configure the settings.json -> cucumber.glue settings I can't seem to get it to work with my step definitions defined in .tsx files.

Here's what I'm seeing:
<img width="1055" alt="image" src="https://user-images.githubusercontent.com/11730298/187250652-da3f9a1f-3c63-4730-b236-c

[2022-08-30 07:54] aslakhellesoy commented on #103
Can you please share the Cucumber Language Server logs as explained [here](https://github.com/cucumber/vscode/blob/main/CONTRIBUTING.md#console-output)? Thanks.

[2022-08-30 10:41] vitaminj commented on #84
No, it still underlines the steps defined as /i in my typescript (plugin 1.2.11), but now also fails at the end of a scan and keeps looping indefinitely rescanning with `Request textDocument/semanticTokens/full failed with message: Incomplete group: {"children":[]}` as per @BrianHawley. Would you like a minimal testable repo?

[2022-08-31 06:53] aslakhellesoy commented on #84
Yes please @vitaminj !

[2022-08-31 13:00] bgibb95 opened #104 "And step not being recognised as a step in feature file"
### 👓 What did you see?

**And** step not being recognised as a step in feature file.

### ✅ What did you expect to see?

**And** steps found in TypeScript file and no warning messages.

### 📦 Which tool/library version are you using?

Cucumber VS Code extension - `v1.2.11`
VS Code - `v1.70.2 `
macOS Monterey - `v12.5.1 (21G83)`

[code]

### 🔬 How could we reproduce it?

![Screenshot 2022-08-31 at

[2022-09-01 05:27] pillsilly commented on #104
me too 😢

[2022-09-01 16:18] aslakhellesoy commented on #104
The Gherkin language has the step keywords `Given`, `When` , `Then`, `And` and `But`, but Cucumber only defines the methods `Given`, `When` and `Then` for defining step definitions.

I didn't know Cypress exposes `And` and `But` - this is a deviation from the Cucumber standard.

You should be able to rename your `And` step defintions to `Given`, `When` or `Then` (whichever they represent). They sh

[2022-09-06 12:48] Diplodokus opened #106 "Support JS language"
### 🤔 What's the problem you're trying to solve?

With over 17 million downloads and users in over 90 countries, Cypress.io is the leader in browser-based test automation for the web.
Cypress is a **JavaScript** end to end testing framework, but this language is not already supported.

### ✨ What's your proposed solution?

A JavaScript language support

### ⛏ Have you considered any alternatives o

[2022-09-06 12:58] Diplodokus commented on #106
duplicate https://github.com/cucumber/language-service/issues/42

[2022-09-06 12:58] #106 closed

[2022-09-06 21:22] aslakhellesoy commented on #84
I’m on the edge of my seat 😁

[2022-09-07 20:22] vitaminj commented on #84
I apologise for keeping you in a precarious seating position. Here, this replicates the case insensitive issue, but I haven't been able to replicate the textDocument/semanticTokens/full problem yet
https://github.com/vitaminj/cucumber-vscode-mtr

[2022-09-26 14:38] 10xtechie commented on #28
Hello @aslakhellesoy,
Thanks for your reply! No problem!
The above official Cucumber logo is now part of [vscode-icons](https://github.com/vscode-icons/vscode-icons/blob/master/icons/file_type_cucumber.svg) . Please take a look.

[2022-09-26 15:47] 10xtechie commented on #94
@aslakhellesoy ,
I would love to contributing on this issue. Please assign it me.

[2022-09-26 15:49] aslakhellesoy commented on #94
My pleasure! Are you OK working on a branch in your own fork? Feel free to send a draft PR if you want feedback before you're "done" :-)

[2022-09-26 15:53] aslakhellesoy commented on #28
Thanks @10xtechie! I'll close this issue then :-)

[2022-09-26 15:53] #28 closed

[2022-09-26 16:08] aslakhellesoy commented on #94
Relevant Twitter Thread: https://twitter.com/CodingWthThomas/status/1572246370345717760

[2022-09-26 20:44] 10xtechie commented on #94
@aslakhellesoy ,
Thanks for assigning it to me! Yes, I am OK working on a branch in my own fork - that is what I do always!
Alright, I will do. Thanks for sharing the Relevant Twitter Thread!

[2022-09-30 08:52] DouyuShinyruo opened #109 "Got an error when equesting textDocument/codeAction"
### 👓 What did you see?
Got an error when equesting textDocument/codeAction.
I wrote `And 60 minutes have passed`  in my feature file and wrote `    @When("{int} {time_unit} have/has passed")` in my *.steps.java and I hope the feature file should jump to the step definition, but it got a error.
[code]

### ✅ What did you expect to see?
The feature file should jump to the step definition.

### 📦 Wh

[2022-09-30 08:52] DouyuShinyruo commented on #109
And the output is
[code]

[2022-09-30 12:57] aslakhellesoy commented on #109
Thanks for the detailed report! I'll look into this.

[2022-09-30 13:40] aslakhellesoy commented on #109
@DouyuShinyruo can you please share your Java code where you define the parameter type?

[2022-09-30 13:48] aslakhellesoy commented on #109
The [embedded](https://docs.oracle.com/en/java/javase/16/docs/api/java.base/java/util/regex/Pattern.html#CASE_INSENSITIVE) `(?i)` flag is Java-specific, and isn't understood by JavaScript RegExps. (The VSCode extension runs on Node.js).

If you change your expression from `((?i)(nanosecond|microsecond|millisecond|second|minute|hour|day)s?)` to `(nanosecond|microsecond|millisecond|second|minute|hou

[2022-10-06 18:19] onthespotqa opened #112 "Plugin doesn't recognize steps that use `` instead of '' or """
### 👓 What did you see?

Extension does not recognize steps that use backticks instead of quotes.

### ✅ What did you expect to see?

I would expect the extension to recognize steps that use backticks.

### 🔬 How could we reproduce it?
In a step file create a step that uses backticks

[code]

[2022-10-06 18:21] xeger commented on #112
I'm encountering this, too!

[2022-10-10 12:26] amilcarjustinovoid opened #114 "It shouldn't remove the comments (lines starting with #)"
### 👓 What did you see?

### ✅ What did you expect to see?

### 📦 Which tool/library version are you using?

### 🔬 How could we reproduce it?

Steps to reproduce the behavior:
1. Install '...' version '...'
2. Create a file called '....'
3. Run command '....'
4. See error '....'

### 📚 Any additional context?

----

*This text was originally generated from a [template](https://docs.github.com/en/c

[2022-10-10 12:27] #114 closed

[2022-10-10 14:04] amilcarjustinovoid opened #115 "Can't find steps that are in the common folder"
### 👓 What did you see?

### ✅ What did you expect to see?

### 📦 Which tool/library version are you using?

### 🔬 How could we reproduce it?

Steps to reproduce the behavior:
1. Install '...' version '...'
2. Create a file called '....'
3. Run command '....'
4. See error '....'

### 📚 Any additional context?

----

*This text was originally generated from a [template](https://docs.github.com/en/c

[2022-10-10 18:21] aslakhellesoy commented on #115
Please open a new issue with more details. Fill in the issue template.

Thanks!

[2022-10-10 18:21] #115 closed

[2022-10-10 22:53] aslakhellesoy commented on #94
This is released in version 1.5.0

[2022-10-10 22:53] #94 closed

[2022-10-19 16:41] zohnannor opened #116 "Line breaks in matchers"
### 👓 What did you see?

`Undefined step` when matcher has line breaks:

![image](https://user-images.githubusercontent.com/35764628/196751602-594a3612-a61b-457c-a698-5a05c9d25e52.png)

### ✅ What did you expect to see?

It should work

### 📦 Which tool/library version are you using?

[code]

[code]

### 🔬 How could we reproduce it?

In your tests have a matcher with line breaks in it, open corres

[2022-10-19 17:06] zohnannor opened #117 "workspace"
### 👓 What did you see?

When I open a workspace that has `tests/features/*` structure somewhere in it, every step is marked as `Undefined`.

![image](https://user-images.githubusercontent.com/35764628/196755611-937ddc41-23ad-4d02-82da-fa14a3700a35.png)

### ✅ What did you expect to see?

Should the extension use the settings...
[code]
...to find the specified structure across the opened workspace

[2022-10-20 01:25] onthespotqa opened #118 "Override Formatting"
### 🤔 What's the problem you're trying to solve?

We were previously using the Gherkin Full Support vscode plugin. This plugin had settings that allowed you to override the default formatting.

### ✨ What's your proposed solution?

possibly adding a setting that allows for overriding the default formatting.

### ⛏ Have you considered any alternatives or workarounds?

Don't know of anything.

### 📚

[2022-10-20 01:27] onthespotqa commented on #76
We ran into this issue and had to roll back having the wider org use the new extension because of this. Is there any status on a fix. We use the javascript implementation of cucumber.

[2022-10-20 16:38] aslakhellesoy commented on #76
@onthespotqa it will be fixed when https://github.com/cucumber/common/pull/1738 is  fixed.

If this is important to your organisation, you can help by either submitting a new pull request or offer financialnsupport via the sponsor button.

Cucmber is maintained by volunteers. I have put a $1000 bounty on this issue.

[2022-10-26 01:41] pkufranky commented on #99
btw. The "Cucumber (Gherkin) Full Support" extension just do the right thing

[2022-10-26 01:48] pkufranky commented on #94
Thanks very much.

[2022-11-07 12:19] Kolobamanacas opened #120 "Steps highlighting shows "Undefined step" warning on Fedora Linux"
### 👓 What did you see?

"Undefined step" error occurs when creating scenario with data tables for each step of given/when/then. Also params are not highlighted properly.

### ✅ What did you expect to see?

No error. All params to be highlighted.

### 📦 Which tool/library version are you using?

Fedora Linux 36
Kernel Version 6.0.5-200.fc36.x86_64 (64-bit)
KDE Plasma 5.25.5

Visual Studio Code 1.7

[2022-11-10 02:04] EZaykov opened #121 "Syntax highlighting and autocomplete not working with WSL"
### 👓 What did you see?

![image](https://user-images.githubusercontent.com/42176041/200983017-2c0957fe-4415-4480-acf6-ad3c4dd705eb.png)

### ✅ What did you expect to see?

Syntax highlighting and autocomplete

### 📦 Which tool/library version are you using?

extension: v1.5.1
cucumber: v8.7.0

### 🔬 How could we reproduce it?

Steps to reproduce the behavior:
1. Install versions above
2. Create a

[2022-11-11 23:25] aslakhellesoy commented on #121
Hmmm. Have you removed all other Cucumber/Gherkin extensions that might be interferring?

[2022-11-11 23:28] aslakhellesoy commented on #120
From your use of `<AAA>` etc it looks like your intention is to use an `Examples:` section underneath.

Could you please share the expressions of your step definitions as well?

[2022-11-11 23:33] aslakhellesoy commented on #117
Are you suggesting we add `./**/` to the beginning of every `cucumber.glue` glob? While it might fix your problem without having to change any settings, it might also slow down the scanning if there are many files in your workspace. It's primarily limited by how fast the globbing library works, which I haven't benchmarked.

Not sure what to do about this one...

[2022-11-12 07:07] EZaykov commented on #121
yeah. Installed just ur extension

[2022-11-17 16:19] nrawe commented on #121
I can confirm the same behaviour when running this inside of a dev container, too.

[2022-11-18 08:02] josemigallas opened #122 "Not working. Too many features and steps?"
### 👓 What did you see?

I just tried the extension for the first time and it doesn't seem to work properly. When reloading the window, the first `.feature` files has syntax highlight but all steps are marked as undefined:

![Screenshot 2022-11-18 at 08 55 24](https://user-images.githubusercontent.com/11672286/202650268-6ff3a544-8cfd-43bd-a27e-1fb510ba01a3.png)

However, opening a second file does

[2022-11-18 13:01] aslakhellesoy commented on #122
Wow `8292` is a lot of steps! With that many steps it's possible that at least one of the following is happening:

* The language server is running out of memory
* Indexing is too slow and would need minutes or hours to complete

I think the first step is to add some more progress output to the indexing, if possible. I'm moving this over to `language-service`, where the indexing logic is implement

[2022-11-18 13:04] aslakhellesoy commented on #121
I need an [mre](https://stackoverflow.com/help/minimal-reproducible-example) in a GitHub repo to reproduce this and provide a fix. Please create one and share the link to the repo.

[2022-11-23 22:24] alakotko opened #125 "New version (v1.6.0) broke python behave step navigation"
### 👓 What did you see?

After update for a new version:

1. Steps with regexp start highlighting as undefinded steps
2. Scenarios with examples just not parse at all

### ✅ What did you expect to see?

Everything works as day ago :)

### 📦 Which tool/library version are you using?
Python 3.9.6
Cucumber Extension v1.6.0
VSCODE:
Version: 1.73.1 (Universal)
Commit: 6261075646f055b99068d3688932416f23

[2022-11-24 09:20] mojo2012 opened #126 "Support localized java annotations"
### 🤔 What's the problem you're trying to solve?

Our java codebase contains a lot of german annotations like `@Gegebensei` (`@Given`). Those localized annotations don't seem to be picked up by the plugin.

### ✨ What's your proposed solution?

Add support for all supported localized annotations.

### ⛏ Have you considered any alternatives or workarounds?

Yes, using the english annotations. Alter

[2022-11-30 15:35] danielferromeral opened #129 "Glue config not working"
### 👓 What did you see?
.feature:
<img width="625" alt="image" src="https://user-images.githubusercontent.com/47207636/204841219-8838a50d-04d0-468f-acb0-b26702511693.png">

setdefs.js
<img width="401" alt="image" src="https://user-images.githubusercontent.com/47207636/204836919-2fe94c09-3fd4-4c34-8f73-a212da03c24c.png">

Both user and workspace settings:
<img width="703" alt="image" src="https://u